<div class="ciclico-gradient d-flex flex-column justify-content-between">
  <%= render 'shared/navbar' %>
  <div class="container mt-3">
    <h1 class="text-secondary text-center">¿Dónde quieres llevar tu reciclaje?</h1>
    <%= form_with url: recycling_sites_path, method: :get, class: "d-flex px-3 pb-3" do %>
      <%= select_tag :material,
        options_for_select([["Material a reciclar"], ["Aceite"], ["Baterías"], ["Electrónicos"], ["Papel/Carton"], ["Ropa"], ["Plástico"], ["Vidrio"],]),
        class: "form-control",
        placeholder: "Looking your City"
      %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
   <%# <div id='map' style='width: 100%; height: 300px;'></div>
<script>
mapboxgl.accessToken = 'pk.eyJ1IjoiYWxhbmRldjEiLCJhIjoiY2w5dTM5eW03MjI5cDNubGIxcTN0dnZoZSJ9.VdPofwD65dVmBHJiTxLmaA';
const map = new mapboxgl.Map({
container: 'map', // container ID
style: 'mapbox://styles/mapbox/streets-v11', // style URL
});
</script> %>
    <div style="width: 100%; height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <div class="d-flex justify-content-between">
      <h2 class="text-primary text-left mt-3">Sitios de reciclaje destacados</h2>
      <%= link_to "Regresar", "/", class:"btn btn-info-ciclico rounded-pill mt-3" %>
      <%= link_to "Crea tu sitio", " /recycling_sites/new", class:"btn btn-info-ciclico rounded-pill mt-3" %>
    </div>
    <div class="row">
      <% @recycling_sites.each do |site| %>
        <div class="col-4">
           <%= link_to recycling_site_path(site) do %>
            <div class="card my-2">
                  <% if site.photo.attached? %>
                   <%= cl_image_tag site.photo.key %>
                  <% else %>
                   <%= image_tag "https://www.wiego.org/sites/default/files/Hewlett_Bogota_FullRelease_050_1.jpg" %>
                  <% end %>
                  <div class="card-body">
                    <p>Contacta a </p>
                    <h2><%= site.name %></h2>
                  </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>
  <%= render 'shared/footer' %>
</div>
