<div class="ciclico-gradient-show d-flex flex-column justify-content-between">
  <%= render 'shared/navbar' %>
  <div class="container bg-primary rounded-5 p-5 my-3 text-secondary">
    <div class="row">
      <div class="col-8">
        <h1 class="text-secondary">En <%= @recycling_site.name %> sitio podr치s reciclar: </h1>
        <h1 class="text-warning"><%= @recycling_site.material.category %></h1>
        <% if recycling_site.photo.attached? %>
              <%= cl_image_tag recycling_site.photo.key, style: "text-center mb-3", "height: 300px; width: 500px" %>
            <% elsif recycling_site.user.photo.attached? %>
              <%= cl_image_tag recycling_site.user.photo.key, style: "text-center mb-3", "height: 300px; width: 500px" %>
            <% else %>
              <%= image_tag "https://www.wiego.org/sites/default/files/Hewlett_Bogota_FullRelease_050_1.jpg", style: "text-center mb-3", "height: 300px; width: 500px" %>
            <% end %>
        <p>M치s informaci칩n sobre el lugar</p>
        <%= link_to "Regresar", recycling_sites_path, class:"btn btn-success rounded-pill text-secondary" %>
        <%= link_to "Hablar con el recolector", "#", class:"btn btn-success rounded-pill text-secondary" %>
      </div>
      <div class="col-4">
        <h3>Ubicaci칩n:</h3>
        <h4><%#= @recycling_site.material.address %></h4>
        <div class="map">
          <img src="https://static.vecteezy.com/system/resources/previews/002/920/438/original/abstract-city-map-seamless-pattern-roads-navigation-gps-use-for-pattern-fills-surface-textures-web-page-background-wallpaper-illustration-free-vector.jpg" alt="" style="width: 300px">
        </div>

        <%#= link_to "Agenda tu visita", "#", class:"btn btn-success rounded-pill text-secondary mt-2" %>
        <%= link_to "Ir", "#", class:"btn btn-success rounded-pill text-secondary mt-2 px-5" %>
      </div>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
