<div class="navbar navbar-expand-sm navbar-lewagon text-white">
  <div class="container-fluid">
    <div class="d-flex">
      <%= link_to "/", class: "navbar-brand ms-5" do %>
        <i class="fa-solid fa-circle-notch text-warning fs-1"></i>
      <% end %>
      <div>
       <h1>Cíclico</h1>
      </div>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li><%= link_to "Ver sitios de reciclaje", recycling_sites_path(@recycling_site), class: "nav-link" %></li>
        <li><%= link_to "Ver recolectores", collectors_path(@collector), class: "nav-link" %></li>
        <% if user_signed_in? %>
          <li class="nav-item active me-2">
            <%= link_to "Mi Perfil", "#", class: "nav-link" %>
          </li>
          <li class="nav-item me-2">
            <%= link_to "Chat", "#", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown me-5">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%#= link_to "Login", new_user_session_path, class: "nav-link btn btn-success rounded-pill text-secondary px-4 me-5" %>
            <%= link_to "Iniciar Sesión", new_user_session_path, class: "nav-link px-4 me-5" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
