<div class="navbar navbar-expand-sm navbar-lewagon text-white">
  <div class="container-fluid">
    <div class="d-flex">
      <%= link_to "/", class: "navbar-brand ms-5" do %>
        <i class="fa-solid fa-circle-notch text-warning fs-1"></i>
      <% end %>
      <div>
       <h1 class="text-secondary">Cíclico</h1>
      </div>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active me-2">
            <%= link_to "Mi Perfil", "/profile", class: "nav-link" %>
          </li>
          <li class="nav-item me-2">
            <%= link_to "Chat", "#", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown me-5">
            <% if current_user.photo.attached?  %>
              <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, style: "width:50px;height:50px;"%>
            <% else %>
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
            <div class="dropdown-menu dropdown-menu-end dropdown-ciclico" aria-labelledby="navbarDropdown">
              <% if current_user.collector %>
                <%= link_to "Administrar Sitios de Reciclaje", "/my_sites", class: "dropdown-item text-info" %>
                <%= link_to "Ver Peticiones", "/daily", class: "dropdown-item text-info" %>
              <% end %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item text-info" %>
            </div>
          </li>

        <% else %>
          <%# <li class="nav-item"> %>
            <%#= link_to "Login", new_user_session_path, class: "nav-link btn btn-success rounded-pill text-secondary px-4 me-5" %>
            <%#= link_to "Iniciar Sesión", new_user_session_path, class: "nav-link px-4 me-5" %>
          <%# </li> %>
          <li class="nav-item">
            <a type="button" class="nav-link px-4 me-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Iniciar Sesión
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content rounded-5 bg-secondary">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Inicio de sesión</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
          <div class="form-inputs">
            <%= f.input :email,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
            <%= f.input :password,
                        required: false,
                        input_html: { autocomplete: "current-password" } %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            <%= link_to "Olvidaste tu contraseña?", new_password_path(resource_name) %><br />
          </div>
      </div>
      <div class="modal-footer">
        <div class="form-actions">
            <%= f.button :submit, "Continuar reciclando", class: "text-secondary btn btn-primary rounded-pill" %>
          </div>
        <% end %>
        <%= link_to "Regístrate", new_registration_path(resource_name), class: "btn btn-success rounded-pill" %><br />
      </div>
    </div>
  </div>
</div>
