  <div class="ciclico-gradient d-flex flex-column justify-content-between">
  <%= render 'shared/navbar' %>
  <div class="container text-secondary bg-primary rounded-5 p-5">
    <% unless Petition.where(collector: current_user, status: 0).empty? %>
      <h2 class="text-info">Tienes peticiones pendientes</h2>
      <div class="bg-secondary rounded-5 p-3">
        <div class="mt-3 row">
          <%= Petition.where(collector: current_user, status: 0).each do |petition| %>
            <div class="col-4">
              <div class="card bg-transparent border-info ms-3 mb-3 rounded-5" style="max-width: 18rem;">
                <div class="card-header rounded-top bg-transparent">
                  <h4 class="text-success mt-2 text-center"> <b><%= petition.user.first_name %></b></h4>
                </div>
                <div class="card-body text-success">
                  <p class="card-text">
                    Te realizó una petición para recoger <i><%= petition.material.category %></i> el <%= petition.date %> en la siguiente ubicación: </p>
                    <%= petition.address.address %>
                    <% marker = Address.where(addressable: petition).geocoded.map do |address|
                      {
                        lat: address.latitude,
                        lng: address.longitude
                      }
                    end %>
                    <div style="width: 100%; height: auto;"
                      data-controller="map"
                      data-map-markers-value="<%= marker.to_json %>"
                      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
                    </div>
                    <div class="d-flex">
                      <%= link_to "Rechazar", decline_petition_path(petition), data: {turbo_method: :patch }, class:"btn btn-primary me-3" %>
                      <%= link_to "Aceptar", accept_petition_path(petition), data: {turbo_method: :patch }, class:"btn btn-primary" %>
                    </div>
                  </p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <h2 class="text-warning">Peticiones pendientes</h2>
    <div class="row">
      <div class="col-8">
      <div class="col-4">
        <h3>Agendas para ti</h3>
        <hr>
        <div class="mt-3">
          <% Petition.where(collector: current_user).each do |petition| %>
            <p>Solicitante: <%= petition.user.first_name %></p>
            <p>Fecha: <%= petition.date %></p>
            <p>Material: <%= petition.material.category %></p>
            <div class="d-flex">
              <p class="me-2">Estado: </p>
              <% if petition.pendiente? %>
                <p>Pendiente </p>
              <% elsif petition.aceptado? %>
                <p>Aceptado</p>
              <% elsif petition.rechazado?  %>
                <p> Rechazado </p>
              <% end %>
            </div>
            <%# <%= link_to "Aceptar peticion", accept_petition_path(petition), data: {turbo_method: :patch }, class:"btn btn-primary" %>
            <%# <%= link_to "Rechazar peticion", decline_petition_path(petition), data: {turbo_method: :patch }, class:"btn btn-primary" %>
            <% if current_user.collector? %>
              <%= link_to "Rechazar peticion", decline_petition_path(petition), data: {turbo_method: :patch }, class:"btn btn-primary" %>
              <%= link_to "Aceptar peticion", accept_petition_path(petition), data: {turbo_method: :patch }, class:"btn btn-primary" %>
            <% end %>
            <hr>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
