<div class="ciclico-gradient-show d-flex flex-column justify-content-between">
  <%= render 'shared/navbar' %>
<div class="container text-secondary bg-primary rounded-5 p-5 f-flex">
    <h1>Mis puntos de reciclajes</h1>
    <div class="row">
      <div class="col-4">
        <% @recycling_sites.each do |site|  %>
            <%= link_to recycling_site_path(site), class: "text-decoration-none" do  %>
              <div class="card my-2">
                    <div class="card-body">

                      <h2><%= site.name.capitalize %></h2>
                    </div>
              </div>
            <% end %>
        <% end %>
      </div>

      <div class="col-8 ">
        <h3>Peticiones activas</h3>
        <hr>
        <div class="mt-3">
              <div class="d-flex-column">
              <% current_user.petitions.each do |petition| %>
                <% if petition.recycling_site_id != nil  %>
                  <p> Sitio de solictud : <%= RecyclingSite.where(id: petition.recycling_site_id).first.name %> </p>
                  <p></p><%=  %>
                  <p> Material : <%= RecyclingSite.where(id: petition.recycling_site_id).first.material.category %> </p>
                  <div class="d-flex">
                    <p class="me-2"> Estado: <% petition.status%>
                    <% if petition.pendiente? %>
                      <p>Pendiente </p>
                    <% elsif petition.aceptado? %>
                      <p>Aceptado</p>
                    <% elsif petition.rechazado?  %>
                      <p> Rechazado </p>
                    <% end %>
                  </div>
                  <div>
                    <% if petition.pendiente? %>
                      <%= link_to "Rechazar peticion", decline_petition_site_path(petition), data: {turbo_method: :patch }, class:"btn btn-primary" %>
                      <%= link_to "Aceptar peticion", accept_petition_site_path(petition), data: {turbo_method: :patch }, class:"btn btn-primary" %>
                    <% elsif petition.status = 0 %>
                      <p>Lo siento!! Intenta con otro sitio</p>
                    <% end %>
                  </div>
                <%end  %>
              <% end %>

              <hr>
        </div>
      </div>
    </div>
  </div>
</div>
  <%= render 'shared/footer' %>
