<div class="ciclico-gradient d-flex flex-column justify-content-between">
  <%= render 'shared/navbar' %>
  <div class="container mt-3">
    <h1 class="text-secondary text-center">Estos recicladores trabajan cerca a tí</h1>
    <%= form_with url: collectors_path, method: :get, class: "d-flex" do %>
      <%= select_tag :city,
        options_for_select([["Ciudad"], ["Medellín"], ["Envigado"], ["Itagüí"]]),
        class: "form-control",
        placeholder: "Looking your City"
      %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
    <div class="row">
      <% @collectors.each do |collector| %>
        <div class="col-4">
          <%= link_to collector_path(collector), class: "text-decoration-none" do %>
            <div class="card my-2 rounded-5">
                  <% if collector.photo.attached? %>
                   <%= cl_image_tag collector.photo.key, style: "width:100%; height:235px", class: "rounded-5" %>
                  <% else %>
                   <%= image_tag "https://www.wiego.org/sites/default/files/Hewlett_Bogota_FullRelease_050_1.jpg", style: "width:100%; height:235px", class: "rounded-5" %>
                  <% end %>
                  <div class="card-body">
                    <h2><%= collector.first_name %></h2>
                    <h2><%= collector.city %></h2>
                  </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
