<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">
<div class="ciclico-gradient-show d-flex flex-column justify-content-between">
  <%= render 'shared/navbar' %>
  <div class="container text-secondary bg-primary rounded-5 p-5">
    <div class="row">
      <div class="col-8">
        <div class="name d-flex">
          <h1> <%= @collector.first_name %></h1>
          <h1 class="text-warning ms-3"><%= @collector.last_name %></h1>
        </div>
        <h4>Horario: Lunes a Viernes 12:00 a 21:00</h4>
        <p>Trabajo principalmente por los barrios de El Dorado, Alcalá y El Portal en Envigado, recibo principalmente papel/cartón</p>
        <%= link_to "Regresar", collectors_path, class:"btn btn-success rounded-pill text-secondary" %>
        <%= link_to "Hablar con #{@collector.first_name}", "#", class:"btn btn-success rounded-pill text-secondary" %>
      </div>
      <div class="col-4">
        <h3></h3>
        <h4><%#= @recycling_site.material.address %></h4>
        <div class="map">
          <img src="https://www.wiego.org/sites/default/files/Hewlett_Bogota_FullRelease_050_1.jpg" class="card-img-top">
        </div>
        <div class="mt-3">
          <%= simple_form_for @petition do |f|%>
            <%= f.datetime_select :date %>
            <%= f.association :material, collection: Material.all, label_method: :category %>
            <%= hidden_field_tag 'collector_id', @collector.id %>
            <%= f.simple_fields_for :addresses_data do |a| %>
              <%= a.input :address,
                input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
                wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
              %>
            <% end %>
            <%= f.submit "Programar recogida", class:"btn btn-success rounded-pill text-secondary mt-3" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
