<div class="ciclico-background d-flex flex-column justify-content-between" style="background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.1)), url(https://images.unsplash.com/photo-1642631171488-23d631eba638?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80) center;">
  <%= render 'shared/navbar' %>
  <div class="container show-info bg-success rounded-5 p-5">
    <div class="row">
      <div class="col-8">
        <h1> <%= @collector.first_name %></h1>
        <h1 class="text-warning"><%= @collector.last_name %></h1>
        <h4>Más información sobre el recolector</h4>
        <%= link_to "Volver", collectors_path, class:"btn btn-primary rounded-pill text-secondary" %>
        <%= link_to "Hablar con el recolector", "#", class:"btn btn-primary rounded-pill text-secondary" %>
      </div>
      <div class="col-4">
        <h3></h3>
        <h4><%#= @recycling_site.material.address %></h4>
        <div class="map p-5 m-5">
          <h1>imagen</h1>
        </div>
        <%= link_to "Realizar petición", "#", class:"btn btn-primary rounded-pill text-secondary" %>
      </div>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
